python-dotenv
jupyterlab
ipywidgets
requests
numpy
numexpr
pandas
scipy
scikit-learn
matplotlib
gensim
torch
transformers
tqdm
annoy
openai
gradio
langchain
tiktoken
faiss-cpu
langchain-openai
langchain_experimental
langchain_chroma
langchain[docarray]
datasets
sentencepiece
matplotlib
google-generativeai
anthropic
scikit-learn
umap
umap-learn
unstructured
chromadb
plotly
jupyter-dash
beautifulsoup4
pydub
streamlit
tabulate
modal
pypdf
sentence-transformers
langchain[all]
ollama
InstructorEmbedding
faiss-cpu
accelerate
sentencepiece
bitsandbytes
wikipedia
psutil
setuptools
speedtest-cli
sentence_transformers
feedparser
mplfinance
duckduckgo-search
xlrd
kagglehub
pinecone
langchain-pinecone
langchain-google-genai
